{% extends "base.html" %}

{% block meta_title %}Url List{% endblock meta_title %}

{% block extra_css %}
<style>

</style>
{% endblock extra_css %}

{% block title %}Url List{% endblock title %}

{% block content %}

<div class="col-xs-12">
<!---->

<table class="table table-bordered"
  id ="albums_table">
    <thead>
    <tr class="header">
      <th class="num">#</th>
      <th class="name">URL <i class="fa fa-unlink" aria-hidden="true"></i></th>
      <th class="name">Title <i class="fa fa-text-width" aria-hidden="true"></i></th>
      <th class="name">Clicks <i class="fa fa-calculator" aria-hidden="true"></i></th>
      <th class="name">Short url <i class="fa fa-link" aria-hidden="true"></i></th>
      <th class="name">Created <i class="fa fa-star-half-o" aria-hidden="true"></i></th>
       <th class="name">Action <i class="fa fa-star" aria-hidden="true"></i></th>
    </tr>
    </thead>


      </table>

{% endblock content %}

    {% block pagination %}


    {% endblock pagination %}
	





	
