{% extends "pages/base.html" %}


{% block meta_title %}Url List{% endblock meta_title %}

{% block extra_css %}
<style>

</style>
{% endblock extra_css %}

{% block title %}Url List{% endblock title %}

{% block content %}

    <div class="col-xs-12">
  <form action="/"  method="post" enctype="multipart/form-data"
      role="form" class="form-inline">
      {% csrf_token %}

      <div class="col-sm-12">
  <div class="form-group {% if errors.url %}has-error{% endif %}">
      <input type="text" value="{{ request.POST.url }}"
             name="url" id="url"
             class="form-control" placeholder="Your URL" style="width: 500px;"/>
      <span class="help-block">{{ errors.url }}</span>
  </div>

  <div class="form-group {% if errors.short_url %}has-error{% endif %}">

      <input type="text" value="{{ request.POST.short_url }}"
             name="short_url" id="short_url"
             class="form-control" placeholder="Your short URL (optional)"/>
      <span class="help-block">{{ errors.short_url }}</span>
  </div>


  <div class="form-group">
      <input type="submit" value="Create short URL" name="create_url"
             class="btn btn-primary" style="margin-bottom: 20px;"/>
  </div>
      </div>

  </form>
    </div>

<table class="table table-bordered" 
  id ="albums_table">
    <thead>
    <tr class="header">
      <th class="num">#</th>
      <th class="name">URL <i class="fa fa-unlink" aria-hidden="true"></i></th>
      <th class="name">Title <i class="fa fa-text-width" aria-hidden="true"></i></th>
      <th class="name">Clicks <i class="fa fa-calculator" aria-hidden="true"></i></th>
      <th class="name">Short url <i class="fa fa-link" aria-hidden="true"></i></th>
      <th class="name">Created <i class="fa fa-star-half-o" aria-hidden="true"></i></th>
       <th class="name">Action <i class="fa fa-star" aria-hidden="true"></i></th>
    </tr>
    </thead>

     <tbody>
        
      {% csrf_token %}

	{% for my_url in my_urls  %}
	
      <tr>
        <td>{{ forloop.counter }}</td>

		<td>
            <a href="{{ my_url.url }}"
          title="Go" target="_blank">
                {{ my_url.url }}</a>
        </td>

      	<td>
         {{ my_url.title }}
        </td>

           <td>
         {{ my_url.clicks }}
        </td>

        <td>
            <a href="{{ my_url.short_url }}"
          title="Go" target="_blank">
                {{ my_url.short_url }}</a>
        </td>

        <td>
          {{ my_url.create_dttm }}
        </td>

        <td>
        <div class="dropdown">
							<button class="btn btn-default dropdown-toggle"
							type="button" data-toggle="dropdown">Action
							<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role ="menu">
								<li role="presentation">
									<a role="menuitem" tabindex="-1"
									href="{% url 'url_edit' my_url.id %}">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										Edit</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1"
									href="{% url 'url_delete' my_url.id %}">
									<i class="fa fa-window-close" aria-hidden="true"></i>
										Delete</a>
								</li>
							</ul>
        </div>
        </td>
      </tr>
       {% endfor %}
      </tbody>
      </table>

{% endblock content %}

    {% block pagination %}

{% if my_urls.has_other_pages %}
{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
<nav>
  <ul class="pagination">
    <li>
      <a href="{% url "home" %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&laquo;</a>
    </li>
    {% for p in my_urls.paginator.page_range %}
    <li {% if my_urls.number == p %}class="active"{% endif %}>
      <a href="{% url "home" %}?page={{ p }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ p }}</a>
    </li>
    {% endfor %}
    <li>
      <a href="{% url "home" %}?page={{ my_urls.paginator.num_pages }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">
        &raquo;</a>
    </li>
  </ul>
</nav>
{% endwith %}
{% endif %}
    {% endblock pagination %}
	





	
