{% extends "pages/base.html" %}

  {% block menu %}

	  <div class="col-xs-12">
	  <ul class="nav nav-tabs" role="tablist">

	  	<li role ="presentation" {% if request.path == '/signup/' %}
	  	class="active" {% endif %}>
	  	<a href="{% url 'signup' %}">Sign up</a>

	  	</li>

	</ul>


	</div>
	{% endblock menu %}

{% block content %}
  <h2>Sign up</h2>

 <form method="post" action="/signup/">
   {% csrf_token %}
   {% for field in form %}
  <div class="form-group">
    <div class="col-xs-3">
    <label for="{{ field.name }}">{{ field.label }}</label>
    </div>
    <div class="col-xs-9">
    <input class="form-control" name="{{ field.name }}" id="{{ field.name }}">
      {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
  </div>
   {% endfor %}
  <button type="submit" class="btn btn-success">Sign up</button>
   <a href="{% url 'home' %}"><button type="button" class="btn btn-danger">Cancel</button></a>
   <a href="{% url 'login' %}"><button type="button" class="btn btn-primary">Sign in</button></a>
</form>

{% endblock %}