{% extends "pages/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Delete URL{% endblock meta_title %}

{% block title %}Delete URL{% endblock title %}

{% block menu %}

	  <div class="col-xs-12">
	  <ul class="nav nav-tabs" role="tablist">

	  	<li role ="presentation"
	  	class="active">
	  	<a href="#">Delete URL</a>

	  	</li>


	</ul>


	</div>
	{% endblock menu %}

{% block content %}

<form action="{% url "url_delete" object.id %}" method="post">
  {% csrf_token %}
  <p><b>Do you really want to delete the URL: </b>"{{ object }}"?</p>
  <input type="submit" value="Yes" name="delete_button"
         class="btn btn-primary" /><br /><br />
  <a href="{%  url 'home' %}"><input type="button" value="Cancel" name="delete_button"
            class="btn btn-danger" /><br /><br /></a>
</form>

{% endblock content %}
