{% extends "pages/base.html" %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block meta_title %}Update URL{% endblock meta_title %}

{% block title %}Update URL{% endblock title %}

{% block extra_css %}
    <style>
    .form-control {

    	height:50px;
 		padding-right:5px;
 		padding-left:10px;
        width: 75% !important;
    	border-color:black;
    	text-align:left;
    	color: #555;
    	box-shadow:none;

    	}

    input {
        width: 75% !important;
        max-width: 100%;
    }

    .btn {
        width: 25% !important;
    }


    </style>
{% endblock extra_css %}

{% block menu %}

	  <div class="col-xs-12">
	  <ul class="nav nav-tabs" role="tablist">

	  	<li role ="presentation"
	  	class="active">
	  	<a href="#">Update URL</a>

	  	</li>


	</ul>


	</div>
	{% endblock menu %}

{% block content %}

<div class="row" id ="content-columns">

		<div class="col-xs-12" id="content-column">
	  		<h3>Form update URL</h3>
	  	</div>

		{% if form.errors %}

		<div class="alert alert-warning" role="alert">
			Please correct the following errors
		</div>

		{% endif %}

		{% crispy form %}

	</div>


{% endblock content %}
