/* Global Styles catalog*/
	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
		margin-top: 10px; 
	}

 	body {
    background-color: white !important;
    color: black !important;
    font-size: 18px !important;
    }

	body.loading {
    	overflow: hidden;

	}

	body.loading .modal {
    	display: block;

	}

   	select {
		clear:both;
		margin-top: 10px;
    	margin-bottom: 15px;
    	height: 38px;
    	width: 250px;
    	color: black;
    	width: 75%;

		}

	
	strong {
	font-size: 16px !important;
	}

	li {
		margin-left: 15px !important;
	}

	td {
		font-size: 18px !important;
	}

	th {
		font-size: 16px !important;
	}

	label {
    	float:left; 
    	padding-right:10px; 
    	margin-top: 10px; 
    	margin-bottom: 10px;

    	}

    input {
    	margin-top: 10px;
    	margin-bottom: 10px;
    	max-width: 250px;

    	}

    select {
		clear:both;
		margin-top: 10px;
    	margin-bottom: 15px;
    	height: 38px;
    	width: 250px;

		}

	p {
		font-size: 18px;

		}

	i {
		margin-right: 5px;

	}

	a {
		font-size: 18px !important;
	}

	button {
		font-weight: 600;
	}

	.modal-title {
		color: black !important; 

	}

	.form-control {

    	height:50px;
 		padding-right:5px; 
 		padding-left:10px; 
 		width:200px;
    	border-color:black;
    	text-align:left;
    	color: #555;
    	box-shadow:none;

    	}

	.label {

		float:center;
    	color: black;
    	display: inline;
    	color: #000000;
    	font-size: 110%;
    	font-weight: 700;
    	line-height: 2;
    	text-align: right;
    	white-space: nowrap;
			
		}

	.field {
    	clear:both;
    	text-align:right; 
    	line-height:25px;

    	}

	.save, .home, .cancel {
		width: 120px;
	}

	.del, .del-cancel {
		width: 120px;
	}

	.modal {
		display:    none;
    	position:   fixed;
    	z-index:    1000;
    	top:        0;
    	left:       0;
    	height:     100%;
    	width:      100%;
    	background: rgba( 255, 255, 255, .8 ) 
            url('http://i.stack.imgur.com/FhHRx.gif') 
            50% 50% 
            no-repeat;

		}

    #select-groups {
    	width: 75%;

    	}

    #genre-selector select {
    background-color: #f8f8ff;
    border: 2px solid #990099;
    border-radius: 5px;
    color: #990099;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 5px;
    width: 75%;
    font-size: 16px;
	}


	#footer {

	border-top: 3px solid #428bca;
	padding-top: 10px; 
	padding-left: 10px;
	margin-bottom: 15px;
	}

	#ajax-progress-indicator {
	display: none;

	}

	#ajax_form {
		float: left;
		width: 100%;
		background-image: url("{% static 'image/flower.jpg' %}") !important;
		padding-left:15px;
		padding-top:15px;
		padding-bottom:15px;
		color: white;

		}



